body {
	font-family:"Tahoma";
	min-width: 370px;
}

.line1 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 20px;
}

.tel {
	font-size: 24px;
	color: #00a0e4;
	text-align: right;
	/*transform: rotate(90deg);*/
}

.btn-primary {
    background-color: #00a0e4;
    border-color: #00a0e4;
    margin-bottom: 20px;
    margin-top: 10px;
}
 
.btn-primary:hover {
    background-color: #3dc7f4;
    border-color: #3dc7f4;
}

button.btn a {
	text-decoration: none;
}

/*Menu*/
ul.menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	padding:0;
	padding-top: 10px;
	font-size: 20px;
}


ul.menu li a{
	text-decoration: none;
}

.line2 {
	background-color: #00a0e4;
}


a {
	color: #fff;
}

a:hover {
	color: #000;
}

.active {
	color: #000;
}

/*Header*/
#img.container-fluid{
	height: 420px;
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;

}

.header {
	text-align: center;
	position: absolute;
	width: 350px;
	margin-top: 40px;
	margin-left: 15px;
	background-color: rgba(158,158,158,.5);
	color: #464444;
	font-size: 25px;
	padding: 40px 5px 40px 5px;
}

.form {
	background-color: #00a0e4;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px; 
	font-size: 20px;
}

.about {
	font-size: 24px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.icon {
	text-align: center;
	font-size: 60px;
	margin-top: 40px;
	color: #00a0e4;

}

.icontext {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
	color: #00a0e4;
	padding: 5px;
	padding-bottom: 50px;
}

.img1 {
	width: 100%;
}

h1 {
	font-size: 27px;
}

.content {
	margin-bottom: 30px;
}

/*footer*/

.footer {
	background-color: #00a0e4;
	color: #fff;
}

ul.menu-footer{
	font-size: 18px;
	list-style-type: none;
	margin-top: 40px;
}

ul.menu-footer li a{
	text-decoration: none;
}

.contact {
	padding-top: 20px;
}

.copy {

	font-size: 14px;
	padding-top: 15px;
}

form {
	padding-top: 20px;
}

h2 {
	font-size: 24px;
	padding-bottom: 20px;
}

/*guestbook*/

.check {
	padding-top: 5px;
	padding-bottom: 10px;
}

.reviews {
	margin-top: 25px;
}

.reviews-avtor {
	margin-bottom: 20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 5px;
}

.star {
	color: #00a0e4;
}

/*Services*/
.services h1 {
	padding-top: 20px;
}

.check {
list-style-type: none; 
font-size: 18px; 
}

.check li {
  padding-top: 10px;
}

.services ul li:before {
   content:"\2714";
   padding: 10px;
   font-size: 25px;
   color: #00a0e4;

}

.services ul li ul li {
  list-style-type: none; 
}

.services ul li ul li:before {
   content:"\2013";
   padding: 10px;
   font-size: 18px;
   color: black;

}

/*Scrol*/
.up {
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	line-height: 50px;


}
.up i {
	color: #464444;
	/*color: #00a0e4;*/
	font-size: 40px;
	margin-top: 2.5px;
}

@media (max-width: 768px){
 	.header {
	background-color: rgba(173,173,173,.8);
}
}

@media (max-width: 768px){

.services ul li:before {
  margin-left: -30px;
}

}
